<table class="table table-hover">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.name %></td>
      <td><%= order.completed ? "Paid" : "Not Paid" %></td>
      <td><%= number_to_currency(order.order_items.total_due(order.id)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @orders %>