<!DOCTYPE html>
<html>
<head>
  <title>Congo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script' rel='stylesheet' type='text/css'/>
  <%= csrf_meta_tags %>
</head>
<body>
  <% user = current_user if current_user %>
  <% admin = user[:admin] if current_user %>
  <%= react_component ('NavChoice'), {admin: admin} %>

  <%= render partial: 'shared/header' %>

  <% cart = get_cart %>
  <%= cart.inspect %>

  <p style='color:red;'><%= flash[:alert] %></p>
  <p style='color:green;'><%= flash[:notice] %></p>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= yield %>
      </div>
      <div class="col-sm-4 sidebar">
        <% if session[:user_id] %>
            <% user = User.find(session[:user_id]) %>
            <%= react_component('Cart', {name: user.name}) %>
        <% else %>
            <%= render partial: 'shared/login', locals: { new_user: new_user } %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
