<!DOCTYPE html>
<html>
<head>
  <title>Congo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= react_component ('Navigation') %>
  <p style='color:red;'><%= flash[:alert] %></p>
  <p style='color:green;'><%= flash[:notice] %></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-4 sidebar">
          <% if session[:user_id] %>
             <% user = User.find(session[:user_id]) %>
           <%= react_component('Cart', {name: user.name}) %>
          <% else %>
            <%= render partial: 'shared/login', locals: { new_user: new_user } %>
          <% end %>
        </div>
      </div>
    </div>
</body>
</html>
